.main-nav {
    list-style: none;
    background-color: blue;
    padding: 10px;
    margin: 20px 0;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.main-nav li {
    display: inline-block;
    height: 100%;
}

.main-nav a:hover {
    background: blueviolet;
    border-radius: 2px;
}

.main-nav a:active {
    color: cyan;
}

.main-nav .main-nav__contacto {
    background-color: chartreuse;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}