.block__element {
  background-color: rgb(11, 185, 49);
  margin: 10px;
  padding: 20px;
  
}

.nav {
  background-color: blueviolet;
  padding: 20px;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}